@import '../colors';
@import '../texts/sizes';
@import '../fonts/fonts';

.topbar {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.05);
  z-index: 100;
  background-color: $white-bg;
  margin-bottom: 0em;

  &--container {
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    display: flex;

    .logo {
      width: 40%;

      img {
        height: 3rem;
        width: 10rem;
        object-fit: contain;
      }
    }

    .links {
      width: 60%;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .link--item {
        margin-right: 1.5em;
        font-size: $text;
        font-family: VictorMono;
        font-weight: bold;
        color: $thirdary-color;

        &:hover {
          color: $secondary-color;
        }

      }

      .active {
        color: $primary-color;

        &:hover {
          color: $primary-color;
        }

      }

    }

  }

}