
@font-face {
  font-family: VictorMono;
  font-weight: bold;
  src: url("VictorMono-Bold.otf") format("opentype");
}

@font-face {
  font-family: VictorMono;
  font-weight: normal;
  src: url("VictorMono-Light.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');