@import '../../colors';
@import '../../texts/sizes';

#article__content {
  width: 100%;
  max-width: 1024px;
  margin:auto;
  padding: 3em 1.5em;
  box-sizing: border-box;

  h1, h2, h3, h4, h5, h6 {
    color: $dark-text;
    font-family: VictorMono;
    font-weight: 900 !important;
  }

  h1 { font-size: $header; }
  h2 { font-size: $large-title; }
  h3 { font-size: $title; }
  h4 { font-size: $text; }
  h5 { font-size: 1.3em; }
  h6 { font-size: 1.2em; }


  p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: #555;
    letter-spacing: 1px;
  }

  img {
    height: 100%;
    display: block;
    text-align: center;
    margin: auto;
  }

}