@import '../../colors';
@import '../../texts/sizes';
@import '../../responsive';

#article__content {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 3em 1.5em;
  box-sizing: border-box;
  min-height: 77.5vh;
  height:100%;
  text-align:left;
  
  h1, h2, h3, h4, h5, h6 {
    color: $dark-text;
    font-family: VictorMono;
    font-weight: 900 !important;
    margin: 1em auto;
  }

  h1 { font-size: $header; }
  h2 { font-size: 2.5em; }
  h3 { font-size: 2.3em; }
  h4 { font-size: 2em; }
  h5 { font-size: 1.9em; }
  h6 { font-size: 1.6em; }


  p {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #555;
    margin: 1em auto;
  }

  img {
    height: 100%;
    width: 100%;
    // box-shadow: 0px 4px 4px 3px rgba(0,0,0,0.05);
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin: 2em auto;
  }

  code {
    background: $optional-color;
    padding: 0.25em 0.5em;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
  }

  a {
    color: $dark-text;
    text-decoration: underline;
  }

  blockquote {
    padding: 1.25em 2em;
    box-sizing: border-box;
    position: relative;
    margin: 1em auto;
    font-style: italic;

    p {
      color: #999;
    }

    ::before {
      content: '';
      position:absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background-color: $primary-color;
    }
  }

  ul, ol {
    padding-left: 1.25em;
  }

  li {
    font-family: Poppins, 'Courier New', Courier, monospace;
    color: #555;
    font-size: 1.1em;
  }

}